<md-sidenav-container>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Ladders
  </md-toolbar>
  <md-sidenav #sidenav>
    Sidenav
  </md-sidenav>
  <div class="app-content">
    <ranking [ladder]="this.ladder">Loading.</ranking>
    <matches [ladder]="this.ladder">Loading.</matches>
  </div>
</md-sidenav-container>

<span class="app-action">
  <button md-fab (click)="openGameDialog()"><md-icon>add</md-icon></button>
</span>
