<md-card>
  <md-card-title>Recent matches in {{ladder}}</md-card-title>
  <md-card-content>
    <table *ngIf="ready">
      <tr>
        <th>Date</th>
        <th>Winners</th>
        <th>Losers</th>
        <th *ngIf="this.owned">Remove</th>
      </tr>
      <tr *ngFor="let match of matchList">
        <td>{{match.timestamp}}</td>    
        <td *ngFor="let team of match.outcome">
          <ul class="team">
            <li *ngFor="let player of team">
              {{player}}
            </li>
          </ul>
        </td>
        <td *ngIf="this.owned">
          <button md-mini-fab (click)="remove(match.id)">
            <md-icon>delete</md-icon>
          </button>
        </td>
      </tr>
    </table>
    <p *ngIf="!ready">Loading match list.</p>
  </md-card-content>
</md-card>
