<md-card>
  <md-card-title>Recent matches in {{ladder}}</md-card-title>
  <md-card-content>
    <table *ngIf="ready">
      <tr>
        <th>Date</th>
        <th *ngFor="let team of teamsHeader; let team_index=index">
          <span *ngIf="team_index==0">Winner(s)</span>
          <span *ngIf="team_index==1">2nd place</span>
          <span *ngIf="team_index==2">3rd place</span>
          <span *ngIf="team_index>=3">{{team_index+1}}th place</span>
        </th>
        <th *ngIf="this.owned">Moderation</th>
      </tr>
      <tr *ngFor="let match of matchList">
        <td>{{match.timestamp}}</td>    
        <td *ngFor="let team of match.outcome">
          <ul class="team">
            <li *ngFor="let player of team">
              {{player}}
            </li>
          </ul>
        </td>
        <td *ngIf="this.owned">
          {{match.reporter}}
          <button md-mini-fab (click)="remove(match.id)">
            <md-icon>delete</md-icon>
          </button>
        </td>
      </tr>
    </table>
    <p *ngIf="!ready">Loading match list.</p>
  </md-card-content>
</md-card>
