body {
    min-height: 42em;
    margin: 0;
}

.app-content {
  padding: 20px;
}

.app-content:after {
  content: "";
  display: table;
  clear: both;
}

.app-action {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

ul.team {
  margin: 1px;
}

ul.team li {
  display: block;
}

@media(min-width:800px) {
  md-card {
    min-width: 40%;
    width: auto;
    float: left;
    margin: 0 10px;
  }
}

footer {
  display: block;
  clear: both;
  width: 100%;
  background: #def;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin: auto;
  text-align: center;
}

/* https://github.com/angular/material2/issues/998 */
.mat-drawer-container, .mat-drawer-content, .mat-sidenav-container, .mat-sidenav-content {
    transform: none !important;
}